/* home.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url('images/todo.jpeg'); /* Add your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Ensure positioning context for the bottom right image */
}

.container {
    text-align: center;
    width: 80%;
    max-width: 1000px;
    background: rgba(147, 143, 143, 0.54); /* Slightly transparent white background */
    padding: 30px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* Ensure positioning context for inner elements */
}

header {
    text-align: center;
    margin-bottom: 30px; /* Increased margin */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content h1 {
    font-size: 40px; /* Increased font size */
    color: #333;
    margin-right: 20px; /* Adjust space between text and GIF */
}

.header-gif {
    max-width: 250px; /* Increased size */
    height: auto;
}

p {
    font-size: 1.8em; /* Increased size of <p> text */
    color: black;
    margin: 20px 0; /* Adjust margin as needed */
}

.zoom-in {
    transform: scale(0);
    animation: zoomIn 2s forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button-container {
    margin: 20px; /* Increased margin */
}

button {
    background: #ed4264a8;
    color: white;
    padding: 25px 35px; /* Increased padding for larger button */
    border: none;
    border-radius: 8px; /* Slightly larger border-radius */
    font-size: 20px; /* Increased font size */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px; /* Increased button width */
    height: 180px; /* Increased button height */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

button img {
    width:120px; /* Increased icon size */
    height:100px;
    margin-bottom: 10px;
}

button span {
    font-size: 18px; /* Increased text size */
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color:pink;
}

button:focus {
    outline: none;
}
